Tuple

Initialization of Tuple

In [ ]:
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

In [ ]:
my_tuple[1]

2

Access the elements and Slicing Operations

In [ ]:
tuple1 = ('apple', 123, True, 3.14, [1, 2, 3])
print(tuple1[-1][1])

2

In [ ]:
print(tuple1[-1][-2])

2

In [ ]:
print(tuple1[1:4])

(123, True, 3.14)

In [ ]:
print(tuple1[:-1])

('apple', 123, True, 3.14)

In [ ]:
print(tuple1[::-1])

([1, 2, 3], 3.14, True, 123, 'apple')

Convert tuple into a list

In [ ]:
tuple2 = ('Shubham', 'Preeti', 'Rashmi', 'Ajay', 'Riya')
list1 = list(tuple2)
print(list1)

['Shubham', 'Preeti', 'Rashmi', 'Ajay', 'Riya']

In [ ]:
list1.extend(["Sushil", "Jitender", "Priya"])
print(list1)

['Shubham', 'Preeti', 'Rashmi', 'Ajay', 'Riya', 'Sushil', 'Jitender', 'Priya']

In [ ]:
tuple2 = tuple(list1)

In [ ]:
print(tuple2)

('Shubham', 'Preeti', 'Rashmi', 'Ajay', 'Riya', 'Sushil', 'Jitender', 'Priya')

Built-in Functions

In [ ]:
min_element = min(my_tuple)
max_element = max(my_tuple)
print(min_element)
print(max_element)

1
3

In [ ]:
sum_element = sum(my_tuple)
print(sum_element)

6

In [ ]:
tuple3 = (1, 2, 3, 4, 5, 3, 7, 8, 11, 12, 9, 2)
## frequency of any given element
count_2 = tuple3.count(2)
print(count_2)

2

In [ ]:
pos = tuple3.index(2)
print(pos)

1

In [ ]:
pos = tuple3.index(20)
print(pos)

ValueError: tuple.index(x): x not in tuple

In [ ]:
tup = (1)
list1 = [1]
type(tup)

int

In [ ]:
tuple4 = (2, )
print(tuple4)
type(tuple4)

(2,)

tuple

In [ ]:
my_tuple

(1, 2, 3)

In [ ]:
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
a, *b, c = my_tuple
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6]
7

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (7, )

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 7)

In [ ]:
## this is not a tuple
tuple2 = (7, )
type(tuple2)

tuple

In [ ]:
list1 = [1]
print(list1)

[1]

In [ ]:
type(list1)

list

Sets

In [ ]:
set1 = set() ## Empty set
set2 = {1, 2, 3}
set3 = {1, "One", 3.4}

In [ ]:
print(set3)

{1, 3.4, 'One'}

In [ ]:
type(set3)

set

In [ ]:
set4 = {1, 2, 3, 4, 2, 3, 3, 2, 4, 4, 3, 2}
print(set4)

{1, 2, 3, 4}

Note: Sets in Python do not require a comma after a single element

In [ ]:
single_element_set = {42}
print(single_element_set)

{42}

In [ ]:
type(single_element_set)

set

In [ ]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'l', 'h', 'e', 'o'}

In [ ]:
my_set

{'e', 'h', 'l', 'o'}

In [ ]:
print('e' in my_set)

True

In [ ]:
len(my_set)

4

In [ ]:
my_tuple = tuple(my_set)
print(my_tuple)

('l', 'h', 'e', 'o')

In [ ]:
my_set = {[a, b, c]}
print(my_set)

TypeError: unhashable type: 'list'

In [ ]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
my_set_1 = {('a', 'b', 'c')}
print(my_set_1)

{('a', 'b', 'c')}

Built in functions

min(), max(), sum()

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.add(9)

In [ ]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
my_set.update([8, 10, 1])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Join Sets

Union

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
union_set = set1.union(set2)  ## set1|set2
print(union_set)

{1, 2, 3, 4, 5, 6}

Intersection

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

intersection_set = set1 & set2  ## set1.intersection(set2)
print(intersection_set)

{3}

Difference

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

difference_set = set1 - set2
print(difference_set)

{1, 2}

Symmetric Difference

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

symmetric_difference = set1.symmetric_difference(set2)  ## set1 ^ set2
print(symmetric_difference)

{1, 2, 5, 6}

Task: to explore and give me the difference between the above methods vs the _update() methods in the set.

difference_update()

intersection_update() and so on

Task: Merge the below two tuples and then remove the duplicate values and return the final output as a tuple.

tup1 = (1, 2, 3)

tup2 = (3, 4, 5)

In [ ]:
## function definition
def merge_and_remove_duplicates(tup1, tup2):
  return tuple(set(tup1).union(tup2))

## driver code
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)

## function calling
print(merge_and_remove_duplicates(tup1, tup2))

(1, 2, 3, 4, 5)

Dictionaries in Python

In [ ]:
my_dict = {"name":"Priya Bhatia", "age": 27, "salary":40000, "city": "delhi", "location": "saket"}
print(my_dict)

{'name': 'Priya Bhatia', 'age': 27, 'salary': 40000, 'city': 'delhi', 'location': 'saket'}

In [ ]:
my_dict['salary']

40000

In [ ]:
scores = {'Alice':85, "Bob":76, "Charlie":56, "David":78, "Eve":90}
print(scores)

{'Alice': 85, 'Bob': 76, 'Charlie': 56, 'David': 78, 'Eve': 90}

In [ ]:
scores['Charlie']

56

In [ ]:
min_score = min(scores.values())
print(min_score)

56

Built-in methods

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'salary', 'city', 'location'])

In [ ]:
print(my_dict.values())

dict_values(['Priya Bhatia', 27, 40000, 'delhi', 'saket'])

In [ ]:
print(my_dict.items())

dict_items([('name', 'Priya Bhatia'), ('age', 27), ('salary', 40000), ('city', 'delhi'), ('location', 'saket')])

Add new "key:value" pairs in the dictionary

In [ ]:
my_dict

{'name': 'Priya Bhatia',
 'age': 27,
 'salary': 40000,
 'city': 'delhi',
 'location': 'saket'}

In [ ]:
my_dict['position'] = 'Lead Data Scientist'
my_dict['company'] = 'Turing'
print(my_dict)

{'name': 'Priya Bhatia', 'age': 27, 'salary': 40000, 'city': 'delhi', 'location': 'saket', 'position': 'Lead Data Scientist', 'company': 'Turing'}

In [ ]:
my_dict.update({'salary':50000, 'city':'Noida'})
print(my_dict)

{'name': 'Priya Bhatia', 'age': 27, 'salary': 50000, 'city': 'Noida', 'location': 'saket', 'position': 'Lead Data Scientist', 'company': 'Turing'}

In [ ]:
del my_dict['location']

In [ ]:
print(my_dict)

{'name': 'Priya Bhatia', 'age': 27, 'salary': 50000, 'city': 'Noida', 'position': 'Lead Data Scientist', 'company': 'Turing'}

Task: Check if all the elements in the list are unique or not?


list1 = [1, 2, 3, 4, 2]

Output: False

In [ ]:
def all_unique(list1):
  return len(list1) == len(set(list1))


list1 = [1, 2, 3, 4, 2]
print(all_unique(list1))

False

Task: Count of occurence of each element in a list.

lst = ['a', 'b', 'a', 'b', 'c', 'a']

Output: {'a':3, 'b':2, 'c':1}

In [ ]:
lst = ['a', 'b', 'a', 'b', 'c', 'a']
output = {}

for item in lst:
    if item in output:
       ## increment of the count value
        output[item] += 1
    else:
        output[item] = 1

print(output)

{'a': 3, 'b': 2, 'c': 1}

Swap key and values in a dictionary

dict1 = {'a':1, 'b':2, 'c':3}

Output: {1: 'a', 2:'b', 3:'c'}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}

## Dictionary comprehensions
swapped = {value: key for key, value in dict1.items()}

print(swapped)

{1: 'a', 2: 'b', 3: 'c'}