In [4]:
# map fn: iterate over iterable and 
# applies given function all items of iterable

def square(x):
    return x*x

square(9)

81

In [ ]:
# map
numbers= [1,2,3,4,5,6,7,8,9]
list(map(square,numbers))
# applies fn to all elmt

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# map multi iterable
num1= [1,2,3,4]
num2= [5,6,7,8]

multiNum=list[map(lambda a,b: a*b, num1,num2)]      #sqre array
print(multiNum)

multiNum2=list(map(lambda a,b: a*b, num1,num2))     
print(multiNum2)

list[<map object at 0x0000018886485BA0>]
[5, 12, 21, 32]

In [ ]:
# map() to convert list of string into int
str_num= ['1','2','3']
print(type(str_num[1]))

int_num= list(map(int, str_num))
print(type(int_num[1]))

<class 'str'>
<class 'int'>

In [15]:
words= ['red', 'green', 'white']
words= list(map(str.upper, words))
print(words)

['RED', 'GREEN', 'WHITE']